<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transample.demo.mapper.TaoOrderMapper">
    
    <resultMap type="TaoOrder" id="TaoOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="villagerId"    column="villager_id"    />
        <result property="userName"    column="user_name"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="sellerName"    column="seller_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="address"    column="address"    />
        <result property="stationId"    column="station_id"    />
        <result property="stationName"    column="station_name"    />
        <result property="totalNumber"    column="total_number"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="logisticsOnePrice"    column="logistics_one_price"    />
        <result property="logisticsTwoPrice"    column="logistics_two_price"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="sendTime"    column="send_time"    />
        <result property="arriveTime"    column="arrive_time"    />
        <result property="shouTime"    column="shou_time"    />
        <result property="finishTime"    column="finish_time"    />
    </resultMap>
	
	<sql id="selectTaoOrderVo">
        select order_id, villager_id, user_name, seller_id, seller_name, mobile, address, station_id, station_name, total_number, total_price, logistics_one_price, logistics_two_price, status, remark, create_time, send_time, arrive_time, shou_time, finish_time from tao_order
    </sql>
	
    <select id="selectTaoOrderList" parameterType="TaoOrder" resultMap="TaoOrderResult">
        <include refid="selectTaoOrderVo"/>
        <where>  
            <if test="orderId != null "> and order_id LIKE CONCAT('%',#{orderId},'%')</if>
             <if test="villagerId != null "> and villager_id LIKE CONCAT('%',#{villagerId},'%')</if>
             <if test="userName != null  and userName != '' "> and user_name LIKE CONCAT('%',#{userName},'%')</if>
             <if test="sellerId != null "> and seller_id LIKE CONCAT('%',#{sellerId},'%')</if>
             <if test="sellerName != null  and sellerName != '' "> and seller_name LIKE CONCAT('%',#{sellerName},'%')</if>
             <if test="mobile != null  and mobile != '' "> and mobile LIKE CONCAT('%',#{mobile},'%')</if>
             <if test="address != null  and address != '' "> and address LIKE CONCAT('%',#{address},'%')</if>
             <if test="stationId != null "> and station_id LIKE CONCAT('%',#{stationId},'%')</if>
             <if test="stationName != null  and stationName != '' "> and station_name LIKE CONCAT('%',#{stationName},'%')</if>
             <if test="totalNumber != null "> and total_number LIKE CONCAT('%',#{totalNumber},'%')</if>
             <if test="totalPrice != null "> and total_price LIKE CONCAT('%',#{totalPrice},'%')</if>
             <if test="logisticsOnePrice != null "> and logistics_one_price LIKE CONCAT('%',#{logisticsOnePrice},'%')</if>
             <if test="logisticsTwoPrice != null "> and logistics_two_price LIKE CONCAT('%',#{logisticsTwoPrice},'%')</if>
             <if test="status != null "> and status LIKE CONCAT('%',#{status},'%')</if>
             <if test="remark != null  and remark != '' "> and remark LIKE CONCAT('%',#{remark},'%')</if>
             <if test="createTime != null "> and create_time LIKE CONCAT('%',#{createTime},'%')</if>
             <if test="sendTime != null "> and send_time LIKE CONCAT('%',#{sendTime},'%')</if>
             <if test="arriveTime != null "> and arrive_time LIKE CONCAT('%',#{arriveTime},'%')</if>
             <if test="shouTime != null "> and shou_time LIKE CONCAT('%',#{shouTime},'%')</if>
             <if test="finishTime != null "> and finish_time LIKE CONCAT('%',#{finishTime},'%')</if>
         </where>
    </select>
    
    <select id="selectTaoOrderById" parameterType="Integer" resultMap="TaoOrderResult">
        <include refid="selectTaoOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertTaoOrder" parameterType="TaoOrder">
        <selectKey keyProperty="orderId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tao_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="villagerId != null  ">villager_id,</if>
			<if test="userName != null  and userName != ''  ">user_name,</if>
			<if test="sellerId != null  ">seller_id,</if>
			<if test="sellerName != null  and sellerName != ''  ">seller_name,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="address != null  and address != ''  ">address,</if>
			<if test="stationId != null  ">station_id,</if>
			<if test="stationName != null  and stationName != ''  ">station_name,</if>
			<if test="totalNumber != null  ">total_number,</if>
			<if test="totalPrice != null  ">total_price,</if>
			<if test="logisticsOnePrice != null  ">logistics_one_price,</if>
			<if test="logisticsTwoPrice != null  ">logistics_two_price,</if>
			<if test="status != null  ">status,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="sendTime != null  ">send_time,</if>
			<if test="arriveTime != null  ">arrive_time,</if>
			<if test="shouTime != null  ">shou_time,</if>
			<if test="finishTime != null  ">finish_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="villagerId != null  ">#{villagerId},</if>
			<if test="userName != null  and userName != ''  ">#{userName},</if>
			<if test="sellerId != null  ">#{sellerId},</if>
			<if test="sellerName != null  and sellerName != ''  ">#{sellerName},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="address != null  and address != ''  ">#{address},</if>
			<if test="stationId != null  ">#{stationId},</if>
			<if test="stationName != null  and stationName != ''  ">#{stationName},</if>
			<if test="totalNumber != null  ">#{totalNumber},</if>
			<if test="totalPrice != null  ">#{totalPrice},</if>
			<if test="logisticsOnePrice != null  ">#{logisticsOnePrice},</if>
			<if test="logisticsTwoPrice != null  ">#{logisticsTwoPrice},</if>
			<if test="status != null  ">#{status},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="sendTime != null  ">#{sendTime},</if>
			<if test="arriveTime != null  ">#{arriveTime},</if>
			<if test="shouTime != null  ">#{shouTime},</if>
			<if test="finishTime != null  ">#{finishTime},</if>
         </trim>
    </insert>
	 
    <update id="updateTaoOrder" parameterType="TaoOrder">
        update tao_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="villagerId != null  ">villager_id = #{villagerId},</if>
            <if test="userName != null  and userName != ''  ">user_name = #{userName},</if>
            <if test="sellerId != null  ">seller_id = #{sellerId},</if>
            <if test="sellerName != null  and sellerName != ''  ">seller_name = #{sellerName},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="stationId != null  ">station_id = #{stationId},</if>
            <if test="stationName != null  and stationName != ''  ">station_name = #{stationName},</if>
            <if test="totalNumber != null  ">total_number = #{totalNumber},</if>
            <if test="totalPrice != null  ">total_price = #{totalPrice},</if>
            <if test="logisticsOnePrice != null  ">logistics_one_price = #{logisticsOnePrice},</if>
            <if test="logisticsTwoPrice != null  ">logistics_two_price = #{logisticsTwoPrice},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="sendTime != null  ">send_time = #{sendTime},</if>
            <if test="arriveTime != null  ">arrive_time = #{arriveTime},</if>
            <if test="shouTime != null  ">shou_time = #{shouTime},</if>
            <if test="finishTime != null  ">finish_time = #{finishTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

	<delete id="deleteTaoOrderById" parameterType="Integer">
        delete from tao_order where order_id = #{orderId}
    </delete>
	
    <delete id="deleteTaoOrderByIds" parameterType="String">
        delete from tao_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>


    <select id="getTaoOrderList" parameterType="TaoOrder" resultMap="TaoOrderResult">
        <include refid="selectTaoOrderVo"/>
        <where>
            status != 10 and status != 60
            <if test="orderId != null "> and order_id LIKE CONCAT('%',#{orderId},'%')</if>
            <if test="sellerId != null "> and seller_id LIKE CONCAT('%',#{sellerId},'%')</if>
            <if test="stationId != null "> and station_id LIKE CONCAT('%',#{stationId},'%')</if>

        </where>
    </select>

</mapper>